<form action="@Url.Action("AddCar","Car")">
    <label for="brandId">Brand</label>
    <input id="brandId" name="brand" type="text" />
    <label for="regNrId">RegNr</label>
    <input id="regNrId" name="regNr" type="text" />
    <label for="carModel">carModel</label>
    <input id="carModel" name="carModel" type="text" />
    <label for="carTypeId">Engine</label>
    <input id="carTypeId" name="carTypeId" type="number" />

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
@model CarModel.ViewModels.CarViewModel

@foreach (var carEngine in Model.CarTypes)
{
    <div>
        <p>Engine: @carEngine.Enginge, Id:@carEngine.Id</p>
    </div>

}
